<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/travel_buddy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyTravelApp"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDgQMdikGU2nZdcy4S_JhFSEFg8wemIddE" />

        <!-- Messaging Function -->
        <activity
            android:name=".activities.ChatActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activities.UsersActivity" />

        <!-- Login and Register -->
        <activity
            android:name=".activities.RegisterActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SignInActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TouristMainActivity" />
        <activity android:name=".activities.GuideMainActivity" />
        <activity android:name=".activities.GuideProfileActivity" />
        <activity android:name=".activities.MenuChat" />
        <activity android:name=".activities.PlansActivity" />
        <activity android:name=".activities.AddPlanActivity" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Itinerary Planner -->
        <activity
            android:name=".activities.Search"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".activities.Recommendation"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".activities.AccommodationDetails"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".activities.RestaurantDetails"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".activities.ThingsToDoDetails"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".activities.UserPlansActivity"
            android:theme="@style/Theme.AppCompat">
        </activity>

        <activity
            android:name=".activities.GuideMenuChat"
            android:label="GuideMenuChat">
        </activity>

        <activity
            android:name=".activities.AdminMainActivity">
        </activity>

        <activity
            android:name=".activities.AddDestinationActivity">
        </activity>

        <activity
            android:name=".activities.EditDestinationActivity">
        </activity>

        <activity
            android:name=".activities.EditDestinationItemActivity">
        </activity>

    </application>

</manifest>